
.skills-wrapper {
    color: #fff;
    position: relative;
    text-align: center;
    height: 70vh;
}

.skills-title {
    font-size: xxx-large;
    color: #fff;
    position: relative;
    text-align: center;
}

.skills-wrapper hr {
    
    width: 30%;
}

.skills-list-container {
    display: inline-block;  
    text-align: left;
    
}
.skills-list-container ul {
    display: inline-block;
    list-style-type: none;
}

@media (max-width: 769px) {

    .skills-list-container {
        display: block;
        margin-left: 25%;
        margin-right: auto;
    }
}



