.services-wrapper {
    color: #fff;
    text-align: center;
    position: relative;
    padding-bottom: 3px;
    height: 100vh;
}

.services-title {
    font-size: 50px;
    color: #fff;
    text-align: center;
    position: relative;
}

.services-title hr {
    width: 30%;
}

.services-content {
    display: inline-flex;
    text-align: center;
    align-items: center;
    margin-left: 30px;
}

.services-content ul {
    display: inline-block;
    font-weight: bolder;
    list-style: none;
    text-align: left;
}



@media (max-width: 820px) {

    .services-wrapper {
        height: 100%;
    }

    .services-content {
        display: inline-block;
        text-align: left;
        margin-left: 0;
        font-size: 15px;
    }

    .list {
        margin: 0 20px;
    }

    .list li {
        padding: 3px;
    }
}