
.education-wrapper {
    width: auto;
    height: auto;
    color: #fff;
    text-align: center;
}

.education-title {

    font-size: xxx-large;
    color: #fff;
}

.education-wrapper hr {
    
    width: 30%;
}

.education-content {
    
    display: inline-flex;
    text-align: center;
    align-items: center;
}

.education-content ul {

    display: inline-block;
    font-weight: bolder;
    list-style: none;
    text-align: left;
}

.education-content p {

    color: #3f3f41;
    font-style: italic;
    font-weight: 400;
    margin-top: 0%;
    font-size: 20px;
}

.education-content-title {

    text-align: center;

}

.education-content-title hr {

    width: 15%;
}

.program {
    text-align: center;
    font-size: 20px;
}

.course-list-container {
    display: inline-block;
}

.course {
    margin-bottom: 4px;
    font-size: 14px;
    
}

a {
    color: white;
    
}

a:hover {
    color: #0202fd;
}

a::after {
    color: grey;
}