
.about-wrapper {

    color: #fff;
    text-align: center;
    padding: 5%;
    background-color: #0c0e1b;
    position: relative;
}

.about-title {

    font-size: xxx-large;
    color: #fff;
    text-align: center;
    background-color: #0c0e1b;
    position: relative;
}

.about-wrapper hr {
    
    width: 30%;
}

.about-content {

    padding: 5%;
}